<section class="section about-us-section" id="about-us">
  <div class="container about-us-container">
    <div class="about-us-text-wrap">
      <h2 class="section-title about-us-title">Про Меблерію</h2>
      <p class="text">
        У Меблерії ми прагнемо створювати затишок та функціональність у кожному
        домі. Наша місія - пропонувати високоякісні меблі, що поєднують у собі
        сучасний дизайн, довговічність та доступність. Ми віримо, що ідеальний
        інтер'єр починається з правильних меблів.
      </p>
    </div>
    <picture>
      <source
        srcset="
          ./images/about-us/team-desc.webp    1x,
          ./images/about-us/team-desc@2x.webp 2x,
          ./images/about-us/team-desc.jpg     1x,
          ./images/about-us/team-desc@2x.jpg  2x
        "
        media="(min-width:1440px)"
      />
      <source
        srcset="
          ./images/about-us/team-tab.webp    1x,
          ./images/about-us/team-tab@2x.webp 2x,
          ./images/about-us/team-tab.jpg     1x,
          ./images/about-us/team-tab@2x.jpg  2x
        "
        media="(min-width:768px)"
      />
      <source
        srcset="
          ./images/about-us/team-mob.webp    1x,
          ./images/about-us/team-mob@2x.webp 2x,
          ./images/about-us/team-mob.jpg     1x,
          ./images/about-us/team-mob@2x.jpg  2x
        "
        media="(max-width:767px)"
      />
      <img
        src="./images/about-us/team-desc.jpg"
        alt="Image of out team"
        width="335"
        class="team-image"
      />
    </picture>
  </div>
</section>
