<section class="section feedback-section">
  <div class="container">
    <h2 class="section-title feedback-title">Відгуки клієнтів</h2>
    <p class="feedback-subtitle">Дізнайтеся, що кажуть наші задоволені клієнти про нашу меблі.</p>
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
            <div class="feedback-rating">*****</div>
            <p class="feedback-text">“Дуже задоволена покупкою! Диван не тільки стильний, а й неймовірно зручний. Доставка була швидкою, все без жодної подряпини.”</p>
            <h3 class="feedback-author">Олена Коваль</h3>
        </div>
        <div class="swiper-slide">Slide 2</div>
        <div class="swiper-slide">Slide 3</div>
        <div class="swiper-slide">Slide 3</div>
        <div class="swiper-slide">Slide 3</div>
      </div>
      <!-- If we need pagination -->
      <div class="swiper-control">
        <div class="swiper-pagination"></div>
        <div class="feedback-btn-prev">
            <svg width="14" height="14">
                <use href="./images/sprite.svg#icon-left-arrow"></use>
              </svg>
        </div>
        <div class="feedback-btn-next">
            <svg width="14" height="14">
                <use href="./images/sprite.svg#icon-right-arrow"></use>
              </svg>
        </div>
      </div>

  </div>
</section>
