<header class="header">
  <div class="container">
    <nav class="main-nav">
      <a class="nav-logo" href="./index.html" aria-label="Site logo">
        <svg class="nav-logo-icon" width="159" height="35">
          <use href="/public/icon.svg#icon-logo"></use>
        </svg>
      </a>

      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link" href="#furniture-list">Наші меблі</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about-us">Про нас</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#faq">Часті питання</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#feedback">Відгуки</a>
        </li>
        <li class="nav-item">
          <button class="button accent header-button" type="button">
            До покупок
          </button>
        </li>
      </ul>
    </nav>

    <button type="button" class="menu-open-btn" data-menu-open>
      <svg width="23px" height="16px">
        <use href="/public/icon.svg#icon-hamburger"></use>
      </svg>
    </button>

    <div class="mob-container is-hidden" data-menu>
      <div class="mob-menu-wrapper">
        <div class="mob-menu">
          <div class="mob-menu-header">
            <a class="nav-logo" href="./index.html" aria-label="Site logo">
              <svg class="nav-logo-icon" width="159" height="35">
                <use href="/public/icon.svg#icon-logo"></use>
              </svg>
            </a>
            <button type="button" class="btn-close" data-menu-close>
              <svg width="16px" height="16px">
                <use href="/public/icon.svg#icon-close"></use>
              </svg>
            </button>
          </div>

          <nav class="mob-nav">
            <ul class="mob-menu-nav list">
              <li class="nav-item">
                <a class="nav-link" href="#furniture-list">Наші меблі</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#about-us">Про нас</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#faq">Часті питання</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#feedback">Відгуки</a>
              </li>
              <li class="nav-item">
                <button class="button accent header-button" type="button">
                  До покупок
                </button>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
