.about-us-section {
  background-color: var(--secondary-bg-color);
  padding-top: 64px;
  padding-bottom: 64px;
}
.about-us-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.about-us-text-wrap {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.team-image {
  border-radius: 8px;
}

@media screen and (min-width: 768px) {
  .about-us-section {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .team-image {
    width: 704px;
  }
}

@media screen and (min-width: 1440px) {
  .about-us-section {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  .about-us-container {
    flex-direction: row;
  }
  .about-us-text-wrap {
    width: 647px;
    margin: auto 0;
  }
  .team-image {
    width: 647px;
  }
}
