:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --main-font-family: 'Raleway', sans-serif;
  --main-font-size: 16px;
  --main-line-height: 1.6;

  --primary-text-color: #080c09;
  --secondary-text-color: #ffffff;
  --accent-color: #6b0609;

  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f0e6e6;

  --section-title-font-size: 36px;
  --section-title-line-height: 1.2;
  --section-title-letter-spacing: 0.01em;

  --main-cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);

  color: var(--primary-text-color);
  background-color: var(--primary-white-color);

  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 18px;
  }
}

main {
  flex-grow: 1;
}

html {
  scroll-behavior: smooth;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.section {
  padding-top: 48px;
  padding-bottom: 48px;
}

.button {
  font-size: 16px;
  padding: 10px 24px;
  border-radius: 100px;
  background-color: rgba(8, 12, 9, 0.05);
  box-shadow: 0 1px 2px 0 rgba(8, 12, 9, 0.05),
    inset 0 -2px 1px 0 rgba(8, 12, 9, 0.05),
    inset 0 0 0 1px rgba(8, 12, 9, 0.05);
  transition: opacity 250ms var(--main-cubic-bezier);
}

.button.accent {
  background-color: var(--accent-color);
  color: #fff;
  box-shadow: 0 1px 2px 0 rgba(8, 12, 9, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(8, 12, 9, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
}

.button:hover,
.button:focus {
  opacity: 0.5;
}
